# Python cache
__pycache__/
*.pyc
*.pyo

# Python virtual environment
venv/
.venv/

# Environment files
.env
.env.*

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Node / React
node_modules/
dist/
build/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/